<div class="book-list">

  <h2 class="title">New Releases in Store</h2>

  <div class="book-grid">
    <div class="book-card" *ngFor="let book of books" (click)="openBook(book.id)">
      
      <div class="image">
        <img [src]="book.image" alt="book" />
      </div>

      <div class="info">
        <h3>{{ book.title }}</h3>
        <p class="author">{{ book.author }}</p>

        <div class="rating">
          ⭐⭐⭐⭐☆ <span>{{ book.reviews }}</span>
        </div>

        <!-- <p class="price">₹{{ book.price }}</p> -->
         <p class="price">
  ₹{{ book.price }}
  <span class="original-price">₹{{ book.originalPrice }}</span>
  <!-- <span class="discount">60% OFF</span> -->
</p>
      </div>

    </div>
  </div>

</div>

<!-- Ai bot start -->

<!-- FITNESS BOT ICON -->
<div class="fitness-bot-icon" (click)="toggleBot()">
  🤖
</div>

<!-- BOT CHAT -->
<div class="fitness-chat" *ngIf="isBotOpen">

  <div class="chat-header">
    Fitness Assistant
  </div>

  <div class="chat-body">

  <div
    *ngFor="let msg of messages"
    [ngClass]="msg.type === 'bot' ? 'bot-msg' : 'user-msg'">

    {{ msg.text }}

  </div>

</div>

  <div class="chat-input">

    <!-- STEP INPUTS -->

    <input
      *ngIf="step !== 5"
      [(ngModel)]="userInput"
      placeholder="Type here..."
    />

    <!-- GOAL SELECT -->
    <select *ngIf="step === 5" [(ngModel)]="goal">
      <option value="fatloss">Fat Loss</option>
      <option value="musclegain">Muscle Gain</option>
      <option value="fitness">Normal Fitness</option>
    </select>

    <button (click)="nextStep()">Send</button>

  </div>

</div>

<!-- Ai bot end -->

<!-- WhatsApp Floating Button -->
<a 
  href="https://wa.me/919372336433?text=Hello%20I%20am%20interested%20in%20your%20ebooks" 
  class="whatsapp-float" 
  target="_blank"
>
  <img src="assets/images/whatsapp.png" alt="WhatsApp" />
</a>