<div class="login">

  <h2 *ngIf="isRegisterMode">Register</h2>
  <h2 *ngIf="!isRegisterMode">Login</h2>

  <input type="text" [(ngModel)]="name" placeholder="Name" *ngIf="isRegisterMode">

  <input type="text" [(ngModel)]="phone" placeholder="Phone Number" maxlength="10">

  <button (click)="submit()" [disabled]="isLoading">
    <span *ngIf="!isLoading">
      {{ isRegisterMode ? 'Register' : 'Login' }}
    </span>

    <!-- 🔥 LOADER -->
    <span *ngIf="isLoading" class="btn-loader"></span>
  </button>

  <p (click)="toggleMode()">
    {{ isRegisterMode ? 'Already have account? Login' : 'New user? Register' }}
  </p>

</div>